body {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}

.list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.btn-container {
  position: relative;
  overflow: hidden;
}

.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  
  color: #000;
  text-decoration: none;
  border: 3px solid #00000000;
  border-radius: 18px;
  font-family: inherit;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 25px 60px;

  overflow: hidden;
}



